.cp-color-picker {
	--cp-color: hsl(calc(var(--cp-hsl-h, 0) * 360) calc(var(--cp-hsl-s, 0) * 100%) calc(var(--cp-hsl-l, 1) * 100%) / var(--cp-hsl-a, 1));
	--cp-focus-color: #19f;
	--cp-focus-outline: 2px solid var(--cp-focus-color);
	--cp-border-width: 1px;
	--cp-border-color: #000;
	--cp-border: var(--cp-border-width) solid var(--cp-border-color);
	--cp-spacing: 6px;

	max-width: var(--cp-color-space-width, 300px);
	padding: var(--cp-spacing);
	display: grid;
	grid-gap: var(--cp-spacing);
	grid-template-columns: 1fr min-content;
	font-size: 0.8em;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
	background-color: #fff;
}

.cp-color-picker,
.cp-color-picker *,
.cp-color-picker *::before,
.cp-color-picker *::after {
	box-sizing: border-box;
}

.cp-color-picker button::-moz-focus-inner {
	border: none;
	padding: 0;
}

.cp-color-picker :focus {
	outline: var(--cp-focus-outline);
}

.cp-color-space {
	grid-column: 1 / -1;

	position: relative;
	background-color: hsl(calc(var(--cp-hsl-h, 0) * 360) 100% 50%);
	background-image: linear-gradient(to top, #000, transparent), linear-gradient(to right, #fff, transparent);

	overflow: hidden;
	aspect-ratio: 1 / 0.6;
}

.cp-thumb {
	--cp-thumb-size: calc(var(--cp-spacing) * 4);

	box-sizing: border-box;
	position: absolute;
	left: 0%;
	bottom: 0%;

	width: var(--cp-thumb-size);
	height: var(--cp-thumb-size);
	margin-left: calc(-1 * var(--cp-thumb-size) / 2);
	margin-bottom: calc(-1 * var(--cp-thumb-size) / 2);
	border: 3px solid #fff;
	border-radius: 50%;
	box-shadow: 0 0 0 var(--cp-border-width) #000;
	/* Corrects the box-shadow being cut-off in Firefox. “isolation: isolate” doesn't work. */
	transform: rotate(0);
}

.cp-thumb:focus {
	/* Don’t fully remove a focus outline or border. This is important to maintain a focus style in Windows’ high contrast mode. */
	outline-color: transparent;
	box-shadow: 0 0 0 var(--cp-border-width) #000, 0 0 0 3px var(--cp-focus-color);
}

.cp-range-input-label {
	--cp-slider-track-width: 100%;
	--cp-slider-track-height: calc(var(--cp-spacing) * 3);

	display: block;
}

.cp-range-input-group {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.cp-range-input-group> :not(:first-child) {
	margin-top: var(--cp-spacing);
}

.cp-range-input,
.cp-range-input::-webkit-slider-thumb {
	-webkit-appearance: none;
}

.cp-range-input {
	display: block;
	width: var(--cp-slider-track-width);
	height: var(--cp-slider-track-height);
	margin-right: 0;
	margin-left: 0;
	margin-top: calc(var(--cp-spacing) / 2 + 1px);
	margin-bottom: calc(var(--cp-spacing) / 2 + 1px);
	padding: 0;
	border: none;
	background: none;
}

.cp-range-input:focus {
	outline: none;
}

.cp-range-input::-moz-focus-outer {
	/* Resets one of these annoying custom focus styles in Firefox. */
	border: none;
}

.cp-range-input--alpha {
	background-color: #fff;
	background-image:
		linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee),
		linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee);
	background-size: calc(var(--cp-spacing) * 2) calc(var(--cp-spacing) * 2);
	background-position: 0 0, var(--cp-spacing) var(--cp-spacing);
}

/*
Range input: Tracks
*/
.cp-range-input::-moz-range-track {
	box-sizing: content-box;
	width: var(--cp-slider-track-width);
	height: var(--cp-slider-track-height);
	border: var(--cp-border);
}

.cp-range-input::-webkit-slider-runnable-track {
	box-sizing: content-box;
	width: var(--cp-slider-track-width);
	height: var(--cp-slider-track-height);
	border: var(--cp-border);
}

.cp-range-input::-ms-track {
	box-sizing: content-box;
	width: var(--cp-slider-track-width);
	height: var(--cp-slider-track-height);
	border: var(--cp-border);
}

.cp-range-input:focus::-moz-range-track {
	outline: var(--cp-focus-outline);
}

.cp-range-input:focus::-webkit-slider-runnable-track {
	outline: var(--cp-focus-outline);
}

.cp-range-input:focus::-ms-track {
	outline: var(--cp-focus-outline);
}

.cp-range-input--alpha::-moz-range-track {
	background-image: linear-gradient(to right, transparent, var(--cp-color));
}

.cp-range-input--alpha::-webkit-slider-runnable-track {
	background-image: linear-gradient(to right, transparent, var(--cp-color));
}

.cp-range-input--alpha::-ms-track {
	background-image: linear-gradient(to right, transparent, var(--cp-color));
}

.cp-range-input--hue::-moz-range-track {
	background-image: linear-gradient(to right, #f00 calc(100% * 0/360), #ff0 calc(100% * 60/360), #0f0 calc(100% * 120/360), #0ff calc(100% * 180/360), #00f calc(100% * 240/360), #f0f calc(100% * 300/360), #f00 calc(100% * 360/360));
}

.cp-range-input--hue::-webkit-slider-runnable-track {
	background-image: linear-gradient(to right, #f00 calc(100% * 0/360), #ff0 calc(100% * 60/360), #0f0 calc(100% * 120/360), #0ff calc(100% * 180/360), #00f calc(100% * 240/360), #f0f calc(100% * 300/360), #f00 calc(100% * 360/360));
}

.cp-range-input--hue::-ms-track {
	background-image: linear-gradient(to right, #f00 calc(100% * 0/360), #ff0 calc(100% * 60/360), #0f0 calc(100% * 120/360), #0ff calc(100% * 180/360), #00f calc(100% * 240/360), #f0f calc(100% * 300/360), #f00 calc(100% * 360/360));
}

/*
Range input: thumbs
*/
.cp-range-input::-moz-range-thumb {
	box-sizing: content-box;
	width: var(--cp-slider-track-height);
	height: var(--cp-slider-track-height);
	border: 3px solid #fff;
	border-radius: 50%;
	background-color: transparent;
	box-shadow: 0 0 0 var(--cp-border-width) #000;
	isolation: isolate;
}

.cp-range-input::-webkit-slider-thumb {
	box-sizing: content-box;
	width: var(--cp-slider-track-height);
	height: var(--cp-slider-track-height);
	margin-top: calc(-1 * (var(--cp-spacing) / 2));
	border: 3px solid #fff;
	border-radius: 50%;
	background-color: transparent;
	box-shadow: 0 0 0 var(--cp-border-width) #000;
	isolation: isolate;
}

.cp-range-input::-ms-thumb {
	box-sizing: content-box;
	width: var(--cp-slider-track-height);
	height: var(--cp-slider-track-height);
	margin-top: calc(-1 * (var(--cp-spacing) / 2));
	border: 3px solid #fff;
	border-radius: 50%;
	background-color: transparent;
	box-shadow: 0 0 0 var(--cp-border-width) #000;
	isolation: isolate;
}

.cp-copy-button {
	justify-self: center;
	align-self: center;

	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	width: calc(var(--cp-spacing) * 6);
	height: calc(var(--cp-spacing) * 6);
	border: var(--cp-border-width) solid transparent;
	border-radius: 50%;
	background-color: #fff;
}

.cp-copy-button:enabled:focus {
	/* Justification for removing the outline: The focus styles are maintained using a solid border style. This maintains a focus style in Windows’ high contrast mode which would be lost with a combination of `outline: none` and a box shadow because box shadows are removed in high contrast mode. */
	outline: none;
	border-color: var(--cp-border-color);
	box-shadow: 0 0 0 2px var(--cp-focus-color);
}

.cp-copy-button:enabled:hover {
	background-color: #0002;
}

.cp-color-input-wrapper {
	grid-column: 1 / -1;

	display: flex;
	align-items: center;
}

.cp-color-input-wrapper> :not(:first-child) {
	margin-left: var(--cp-spacing);
}

.cp-color-input-group {
	flex-grow: 1;
	display: grid;
	grid-auto-flow: column;
	column-gap: var(--cp-spacing);
}

.cp-color-input-label {
	text-align: center;
}

.cp-color-input {
	width: 100%;
	margin: 0;
	margin-top: calc(var(--cp-spacing) / 2);
	padding: var(--cp-spacing);
	border: var(--cp-border);
	font: inherit;
	text-align: center;
	color: inherit;
	background-color: #fff;
}

.cp-switch-format-button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: var(--cp-spacing);
	border: var(--cp-border-width) solid transparent;
	border-radius: 50%;
	font: inherit;
	color: inherit;
	background-color: #fff;
}

.cp-switch-format-button:enabled:focus {
	border-color: var(--cp-border-color);
}

.cp-switch-format-button:enabled:hover {
	background-color: #0002;
}

.cp-visually-hidden {
	position: absolute !important;
	overflow: hidden !important;
	clip: rect(0 0 0 0) !important;
	width: 1px !important;
	height: 1px !important;
	margin: -1px !important;
	padding: 0 !important;
	border: 0 !important;
	white-space: nowrap !important;
}
